body{margin-top:20px;
background:#eee;
}

.btn {
    margin-bottom: 5px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
	width: 50px;
}

.search table tr td img {
	width: 50px;
	height: 50px;
}

.search table tr td.rate {
	color: #f39c12;
	line-height: 50px;
}

.search table tr td.price {
	font-size: 1.5em;
	line-height: 50px;
}

.search #price1,
.search #price2 {
	display: inline;
	font-weight: 600;
}

.product-hover {
  position: relative;
}

.product-tooltip {
  position: absolute;
  top: 0;
  left: 105%;        /* se despliega hacia la derecha */
  min-width: 280px;

  background: #fff;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  z-index: 9999;
  display: none;
}

.product-hover:hover .product-tooltip {
  display: block;
}

/* Página activa */
.pagination .page-item.active .page-link {
  background-color: #9c6b4f;
  border-color: #9c6b4f;
  color: #fff;
}

/* Hover */
.pagination .page-link:hover {
  background-color: #b07a5b;
  border-color: #b07a5b;
  color: #fff;
}



/* Números NO activos */
.pagination .page-link {
  color: #9c6b4f;              /* café */
}

/* Hover de números no activos */
.pagination .page-link:hover {
  color: #fff;
  background-color: #b07a5b;
  border-color: #b07a5b;
}

.pagination .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 123, 22, 0.25) !important;
  border-color: #9c6b4f !important;
}

/* Deshabilitados */
.pagination .page-item.disabled .page-link {
  color: #c4a18a;
}


.container {
  max-width: 100% !important;
}
