.table.pos-table {
  table-layout: fixed;
  width: 100%; /* Obligatorio para que fixed funcione */
  max-height: 45vh;
}

/* Para manejar el texto largo en las celdas */
.table.pos-table td, 
.table.pos-table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table.pos-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* Evita que el texto de las filas se traslape al scrollear */
  z-index: 10;
}